@import "../styles/global.scss";

.App {
    @include flex();
    height: 100vh;

    &__cards {
        @include flex();
    }
}

.App {
    background-color: $gray;

    &__cards div {
        &:first-child {
            background-color: $bright-orange;
            border-radius: 10px 0 0 10px;
        }
        &:nth-child(2) {
            background-color: $dark-cyan;
        }
        &:nth-child(3) {
            background-color: $very-darkCyan;
            border-radius: 0 10px 10px 0;
        }
    }
    &__cards {
        width: 90vw;
    }
}
